* {
    box-sizing: border-box;
    font-family: "Arimo";
}

body {
    background: rgb(239, 239, 239);
}

.lista-container {
    background: white;
    width: 60%;
    margin: 0 auto;
    position: relative;
    margin-top: 64px;
}

.lista-subcontainer {
    width: 80%;
    margin: 0 auto;
}

.lista {
    width: 100%;
    text-align: left;
    border-collapse: collapse; 
}


.lista__row:nth-last-child(n + 2) {
    padding: 16px 0;
    border-bottom: 1px solid #DDD;
}

.lista__row:nth-child(2) {
    border-top: 1px solid #DDD;
}

.lista__title {
    font-size: 20px;
    padding: 16px 0;
    opacity: .75;
}

.lista__top {
    font-size: 14px;
    opacity: .65;
}

.lista__top:nth-child(1) {
    width: 50%;
}

.lista__top:nth-child(2) {
    width: 30%;
}

.materiaClass {
    border: none;
}


.lista__comp {
    padding: 16px 0;
}

.inner-input {
    height: 32px;
}


.indice-container {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 10px 0 #DDD;
}

.indice-subcontainer {
    width: 80%;
    margin: 16px auto;
    text-align: center;
}

.indice__label {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
}

.indice__texto {
    padding: 0 8px;
}

[class$="-button"] {
    margin: 8px 0;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.agregar-button {
    border-radius: 20px;
    background: #0F62AC;
    color: white;
    padding: 8px 16px;
}

.agregar-button:hover {
    color: #0F62AC;
    background: rgb(145, 216, 247);
}

.eliminar-button {
    background: none;
    color: #840010;
}

.inner-button {
    background: none;
    color: #840010;
    font-weight: bold;
}